<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDoIOiwRdm0Kc9wV6EvdE1OjcsuARuoBk8</string>
	<key>GCM_SENDER_ID</key>
	<string>277463337454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kornilov.ux.MyMessenger</string>
	<key>PROJECT_ID</key>
	<string>mymessenger-48bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessenger-48bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277463337454:ios:a7de9e5c739c2a2ef226ff</string>
</dict>
</plist>